<!-- This page has some weird bug where the sword cursor does not display on the bottom half of the page. I think it is
because the text does not go that far down the page. Using a grid might fix it idk. /Nate-->
<style>

body{
    background-image: url('https://bestanimations.com/media/trees/1640998604forest-trees-animated-gif-5.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sword1 {cursor: url('http://www.rw-designer.com/cursor-view/18584.png'), auto;}
</style>

<body class="sword1">

<h1 style="text-align:center; color:white; background-color:grey;"><b>About</b></h1>


<p style="text-align:center; color:white; background-color:grey;">
        HAVAC is web-app designed to allow players to create their own personal page and communcate with other players about their page design.
    The app gives players the opportunity to gain various page design options by winning matches in the Arena. The Arena is the primary place for obtaining
    the games main source of currency which can by used to obtain items in the Shop. The apps Shop page will offer the players items to improve their
    performance in future arena matches or purchase items to improve the design of their home. You as the player will be able to communicate with
    other players by using the message board and send invitations to your friends to come and check out your page design.
</p>

<p style="text-align:center; color:white; background-color:grey;">
        The game offers you a chance to dominate the leaderboards in our games rock, paper, and scissors style of fighting. You will be able to use potions
    to give you an advantage in the field of battle. You may also obtain various weapons that will allow you to smite down your foes quickly. Pets will
    also be allowed to enter the Arena with each one giving a unique benifit to help you in your quest to become number one. The game offers a player vs AI
    feature that will allow you to obtain some winnings while other players are offline. The Arena offers the chance to battle friends and foes alike. 
    When you are done with all of this you can relax at your home and invite players over to brag about how much more awesome your house is than theirs. 
</p>


<%= link_to 'Back', welcome_path, class: 'btn btn-primary'%>

</body>

